body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.half-width {
    width: 40%;
    padding-left: 10%;

}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.top-banner {
    margin-top: 100px;
}

.top-banner img {
    width: 100%;

}

.top-banner h1 {
    font-size: 55px;
    color: #575757;

}

.skip-color {
    color: #FBA24F;
}

.top-banner-left {
    padding-top: 100px;

}

.top-banner p {
    font-size: 15px;
    color: #828282;
    line-height: 160%;
    padding-bottom: 30px;

}

.link-btn {
    text-decoration: none;
    padding: 15px 30px;
    background-image: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 30px;
    color: white;


}

.about {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    padding-top: 50px;

}

.about img {
    width: 50%;
}

.about-right p {
    font-size: 14px;
    color: #18191F;
    line-height: 160%;
    padding-bottom: 70px;
    padding-right: 150px;
}

.about-right {
    padding-top: 100px;
}

.recipies {
    background-color: #f2eeee;
    padding: 50px 0;
}

.recipies-top {
    text-align: center;
}

.recipies-top h2 {
    color: #676767;
    font-size: 30px;
}

.recipies-top p {
    padding: 0 450px;
    color: #252525;
    font-weight: 400;
}

.recipies-items {
    padding: 10px 200px;
}

.recipies-items-single img {
    width: 550px;
    padding: 10px;
}

.recipies-items-single {
    padding: 10px;
    background-color: white;
    margin-right: 20px;
    border-radius: 15px;
}

.recipies-items-single h3 {
    color: #18191F;
    padding-left: 10px;
}

.recipies-items-single p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding-left: 10px;
}